// Variables
$primaryColor: #1c1b19;
$secondColor: #98785c;

// Séparateur 
.separator {
    border-bottom: 2px solid $secondColor;
    width: 160px;
    margin: 0 auto;
}

//Couleur
.bg-black {
    background-color: $primaryColor;
    color: #fff;
}

// Barre de navigation
nav {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
}

// Jumbrotron
.jumbotron {
    background: url('../img/banner2.jpg');
    background-size: cover;
    background-position: center;
    filter: grayscale(40%);
    font-family: 'Bad Script', cursive;
    .title1 {
        transform: rotate(-20deg);
        border: 5px solid #fff;
        border-radius: 50%;
    }
}

// Section "nos services"
.service {
    font-family: sans-serif;
        h2 {
            margin: 20px 0;
            text-align: center;
        }
        .img {
            display: block;
            filter: sepia(60%);
        }
        .text-right {
            text-align: right;
        }
}

// Carousel
.citation {
    background: url('../img/slide3.jpg');
    background-size: cover;
    filter: grayscale(100%);
    flex-flow: wrap column;
    .citation_p {
        font-weight: 400;
        font-size: 1.4em;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 25px;
    }
    .auteur {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.2em;
    }
}

// Footer all
.footer {
    font-family: 'Anton', sans-serif;
    background-color: #11100f;
    color: #fff;
}

// Portfolio html
.gal-item{
	overflow: hidden;
	padding: 8px;
}
.gal-item .box{
	height: 100%;
	overflow: hidden;
}
.box img{
	height: 100%;
	width: auto;
	object-fit:cover;
}

@media screen and (max-width: 768px) {
    // Index html
    .subtitle {
        display: none;
    }
    
    .jumbotron {
        .logo {
            text-align: center;
            .title1 {
                transform: none;
                border: none;
                border-radius: none;
                padding: 0!important;
            }
        }
    }

    .citation {
        min-height: 661px;
    }

    // Menu html
    .menu {
        display: flex;
        justify-content: center;
    }

    // Portfolio html
    .galerie {
        display: flex;
        justify-content: center;
    }
}