//Couleur
.bg-black {
    background-color: #1c1b19;
    color: #fff;
}

// Barre de navigation
nav {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

// Jumbrotron
.jumbotron {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap column;
    height: 60vh;
    background: url('../img/banner2.jpg');
    background-size: cover;
    background-position: center;
    filter: grayscale(40%);
    font-family: 'Bad Script', cursive;
    .title1 {
        transform: rotate(-20deg);
        padding: 50px;
        border: 5px solid #fff;
        border-radius: 50%;
    }
}

// Section "nos services"
.more {
    text-align: center;
    h2 {
        margin: 40px 0;
    }
}

