.separator {
  border-bottom: 2px solid #98785c;
  width: 150px;
  margin: 0 auto 0px auto; }

.bg-black {
  background-color: #1c1b19;
  color: #fff; }

.text-center {
  text-align: center; }

nav {
  font-family: 'Anton', sans-serif;
  text-transform: uppercase; }

.jumbotron {
  background: url("../img/banner2.jpg");
  background-size: cover;
  background-position: center;
  filter: grayscale(40%);
  font-family: 'Bad Script', cursive; }
  .jumbotron .title1 {
    transform: rotate(-20deg);
    border: 5px solid #fff;
    border-radius: 50%; }

.service {
  font-family: sans-serif; }
  .service h2 {
    margin: 20px 0;
    text-align: center; }
  .service .img {
    display: block;
    filter: sepia(60%); }
  .service .text-right {
    text-align: right; }

.citation {
  background: url("../img/slide3.jpg");
  background-size: cover;
  filter: grayscale(100%);
  flex-flow: wrap column; }
  .citation .citation_p {
    font-weight: 400;
    font-size: 1.4em;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 25px; }
  .citation .auteur {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2em; }

.card img {
  height: 196px;
  filter: grayscale(40%); }

.footer {
  font-family: 'Anton', sans-serif;
  background-color: #11100f;
  color: #fff; }

.gal-item {
  overflow: hidden;
  padding: 8px; }

.gal-item .box {
  height: 100%;
  overflow: hidden; }

.box img {
  height: 100%;
  width: auto;
  object-fit: cover; }

@media screen and (max-width: 768px) {
  .jumbotron .logo {
    text-align: center; }
    .jumbotron .logo .title1 {
      transform: none;
      border: none;
      border-radius: none;
      padding: 0 !important; } }
